@CHARSET "ISO-8859-1";

body {
	background-color: #67829F;
	font-family: Tahoma;
}
a {
	font-size: 10pt;
	text-decoration: none;
}
.body a:link {
	color: #D6C9E2;
}
.body a:visited {
	color: #896AA4;
}
.body a:hover {
	color: #D6C9E2;
}
.formlabel {
	font-size: 12pt;
}
.formhint {
	font-size: 10pt;
}
.forminput{
	width: 175px;
}
.accinfo {
	font-size: 12pt;
	font-family: "Times New Roman", Times, serif;
}
.header {
	border-bottom-style: groove;
	border-bottom-width: 20px;
	border-bottom-color: #d3d3d3;
	margin-bottom: 15px;
}
.header p {
	font-family: Georgia, Times, serif;
}
.body {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 5px;
	background-color: #234467;
	border-style: solid;
	border-width: 2px;
	border-color: #95AAC0;
	color: #C8D4E0;
	font-size: 10pt;
}
.body dt {
	font-style: oblique;
	font-size: 12pt;
}
.body dd {
	padding-bottom: 5px;
}
h3 {
	font-variant: small-caps;
	font-family: Georgia, serif;
}
.footer {
	text-align: center;
	margin-top: 50px;
	padding: 10px;
	background-color: #234467;
	border-style: solid;
	border-width: 2px;
	border-color: #95AAC0;
	color: #C8D4E0;
}
.footer p {
	font-size: 8pt;
}
.menu a, a:visited {
	background-color: #95AAC0;
	color: #234467;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
}
.menu a:hover {
	background-color: #234467;
	color: #C8D3E0;
}
.menu a.active {
	background-color: #234467;
	color: #C8D3E0;
}

/* Button css for main buttons*/
.btn-main {
  background-color: #3366cc;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

/* Button css for default/regular buttons*/
.btn-default {
    border: 1px solid #333;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.3px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
}

.clearfix {
  clear: both;
}

.form-class{
	padding: 20px;
	margin-bottom: 10px;
}

.accinfo{
	color: white;
    font-size: 20px;
    font-family: 'Calibri', sans-serif;
    padding: 20px;
}

#help_main{
	font-size: 20px;
	color: #234467;
	background-color: #C8D4E0;
}

.btn-danger, .btn-danger:hover, .btn-danger:focus, .btn-danger.active:hover, .btn-danger:active:focus, .btn-danger:active:hover{ 
    background-color: #C8D3E0;
    border-color: #C8D3E0;
}

.dropdown-menu{
	font-size: 16px;
	color: #234467;
	background-color: #C8D4E0;
	min-width: 200px;
}

a:.dropdown-item{
	text-decoration: none;
}
.utility {
	color: #C8D4E0;
	font-size: 10pt;
}
.utility h3 {
	font-variant: small-caps;
	font-family: Georgia, serif;
}
.utility.current {
	color: #234467;
}